.presentation-container {
    margin: auto;
    width: 1400px;
    height: 400px;
    background-color: rgb(160, 160, 160);
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.presentation-info {
    width: 700px;
    height: 200px;
    margin-right: 90px;
}

.presentation-image img {
    width: 600px;
    height: 300px;

}

.presentation-image {
    width: 700px;
    height: 400px;
}

.presentation-info, .presentation-image {
 
}