.presentation-container {
    width: 100%;
    height: 400px;
    background-color: rgb(160, 160, 160);
    text-align: center;
}

.wrapper-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper-info {
    font-family: var(--first-font);
    font-weight: 700;
    font-size: 25px;
    width: 496px;
}

