.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #434455;
}

input {
    font-family: inherit;
}

footer ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
}

footer p,
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    align-items: baseline;
    display: flex;
}

.footer-logo-container {
    margin-right: 120px;
}

.footer-soc-container {}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-studio {
    color: #f4f4fd;
}

.footer-text {
    color: #f4f4fd;
    max-width: 264px;
}

.footer-soc-list {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.footer-soc-subtitle {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-soc-link {
    height: 40px;
    width: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-container {
    margin-right: 80px;
}

.footer-icons {
    fill: #f4f4fd;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: #31d0aa;
}

.footer-subscribe-container {}

.footer-subscribe-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    padding-left: 24px;
    transform: translateX(-20px);
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #fff;
}

.footer-input::placeholder {
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #fff;
}

.footer-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    padding: 8px 24px;
    width: 130px;
    height: 40px;
    background-color: #4d5ae5;
    border: none;
    display: flex;
    align-items: center;
    fill: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    /* min-width: 165px; */
    justify-content: center;
    text-align: center;
}

.footer-btn:hover,
.footer-btn:focus {
    background-color: #404bbf;
}

.footer-icon-send {
    margin-left: 16px;
}

.footer-text-this {
    transform: translateX(10px);
}